server:
  port: 8888

spring:
  application:
    name: GATEWAY

  cloud:
    discovery:
      enabled: true

    gateway:
      discovery:
        locator:
          enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
